@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.naviation{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e88e5;
}
.naviationLogo{
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    color: #ffff00;;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.navContainer{
    display: flex;
    border-radius: 0.4rem;
    overflow: hidden;
}
.navlink{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.6rem 1.5rem;
}
.navlink:hover{
    background-color: #1066b1;
    border-radius: 0.4rem;
}
.navContent{
    color: #ffffff;
    cursor: pointer;
    transition-duration: 500ms;
    padding-left: 0.5rem;
}

@media (max-width: 700px) {
    *{
        font-size: 5vw;
    }
    .navContent{
        display: none;
    }
    .title{
        font-size: 0rem;
    }
  }